/* UNIVERSAL */
body{margin:0;padding:0;font-family:calibri;}
h1{padding:0;margin:0;}
h2{padding:20px 0 10px 0;margin:0;font-size:15pt;color:#000;}
a{color:#A3A3A3;text-decoration:none;}
a:hover{color:#ff4603;text-decoration:none;}

/* HEADER */
#head{margin:auto;width:100%;height:65px;border-bottom:1px solid;padding:20px 0 0;position:fixed;top:0;background-color:#fff}
#logo{float:left;margin:0 0 0 40px;}
#links{float:right;margin:0 40px 0 0;}
#links ul{padding:15px 0 0;margin:0;}
#links li{list-style-type:none;display:inline-block;margin:0 0 0 20px;}
#links a{color:#000;text-decoration:none;}
#links a:hover{color:#ff4603;text-decoration:none;}
.active{color:#ff4603;}

/* BANNER */
#wrap{box-shadow: 0 0 30px 0px #C2C2C2;}
#container{margin:auto;width:1024px;}
#banner{width:100%;height:400px;background-color:#F5F5F5;margin:85px 0 0;}


/* TAG LINE */
#tagline{text-align:center;padding:75px 0 55px 0;font-family:arial;font-size:13pt;}
#tagline p{padding:0 0 10px 0;margin:0;font-size:25pt;color:#000;font-family:calibri;}
#tagline button{padding:5px;margin:15px 0 0;background-color:#FF7847;font-weight:bold;border:none;color:#fff;border-radius:3px;font-size:10pt;}
#tagline button:hover{background-color:#ff4603;cursor:pointer;}
#bio_break{width:1024px;height:60px;margin:auto;}

#tagline_2{text-align:center;padding:40px 0 55px 0;font-family:arial;font-size:13pt;}
#tagline_2 p{padding:0 0 10px 0;margin:0;font-size:25pt;color:#000;font-family:calibri;}

/* Home - Services */
#info_01{width:300px;height:300px;margin:20px 60px 80px 0;text-align:center;float:left;background-color:#F5F5F5;border-top:3px solid #FF7847;}
#info_01 p{font-family:arial;font-size:11pt;line-height:18pt;margin:10px 10px 20px 10px;}

#info_02{width:300px;height:300px;margin:20px 0 80px 0;text-align:center;float:left;background-color:#F5F5F5;border-top:3px solid #FF7847;}
#info_02 p{font-family:arial;font-size:11pt;line-height:18pt;margin:10px 10px 20px 10px;}

#info_03{width:300px;height:300px;margin:20px 0 80px 0;text-align:center;float:right;background-color:#F5F5F5;border-top:3px solid #FF7847;}
#info_03 p{font-family:arial;font-size:11pt;line-height:18pt;margin:10px 10px 20px 10px;}

/* FOOTER */
#bottom{background-color:#F5F5F5;clear:both;}
#footer{width:1024px;margin:auto;padding:15px 0 15px 0;font-size:8pt;color:#000;height:20px;}
#footer p{margin:3px 0 0;padding:0;}
#footer ul{padding:0;margin:0;float:right;}
#footer li{list-style-type:none;display:inline-block;margin:3px 0 0 25px;position:relative;}
#footer li img{position:absolute;top:-2px;left:-20px;}
#footer a{color:#000;text-decoration:none;}
#footer a:hover{color:#ff4603;text-decoration:none;}
