/* UNIVERSAL */
body{margin:0;padding:0;font-family:calibri;}
h1{padding:0;margin:0;color:#E0000B;}
h2{padding:20px 0 10px 0;margin:0;font-size:15pt;color:#000;}
h3{padding:0 0 5px 0;margin:0;font-size:15pt;color:#000;}
a{color:#E0000B;text-decoration:none;}
a:hover{color:#F5000C;text-decoration:none;}

/* HEADER */
#head{margin:auto;width:100%;height:50px;padding:20px 0 0;background-color:#fff;box-shadow: 0 0 20px 0px #CCCCCC;}
#headmini{width:1024px;margin:auto;}
#logo{margin:auto;width:350px;}
#links1{float:left;margin:0;font-size:11pt;width:320px;}
#links2{float:right;margin:0;font-size:11pt;width:320px;}
#links1 ul{padding:15px 0 0;margin:0;float:right}
#links1 li{list-style-type:none;display:inline-block;margin:0 20px 0 0;}
#links1 a{color:#000;text-decoration:none;}
#links1 a:hover{color:#F5000C;text-decoration:none;}
#links2 ul{padding:15px 0 0;margin:0;}
#links2 li{list-style-type:none;display:inline-block;margin:0 0 0 20px;}
#links2 a{color:#000;text-decoration:none;}
#links2 a:hover{color:#F5000C;text-decoration:none;}
.active{color:#E0000B;}

/* BANNER */
#wrap{box-shadow: 0 0 20px 0px #CCCCCC;}
#container{margin:auto;width:1024px;height:730px;}
#banner{width:100%;height:600px;background-color:#F6F4F4;margin:0;}



/* Container */
#tag{margin:auto;width:600px;text-align:center;padding:50px 0 80px 0;}
#tag p{font-size:25pt;font-family:georgia;line-height:35pt;}
#tag button{margin:-15px;padding:10px;background-color:#E0000B;border:0px;color:#fff;font-size:12pt;border-radius:3px;cursor:auto;box-shadow:0px 2px #8F0007;}
#tag button:hover{background-color:#F5000C;}

#tag2{margin:auto;width:600px;text-align:center;padding:50px 0 80px 0;}
#tag2 p{font-size:25pt;font-family:georgia;line-height:5pt;}
#tag2 button{margin:-15px;padding:10px;background-color:#E0000B;border:0px;color:#fff;font-size:12pt;border-radius:3px;cursor:auto;box-shadow:0px 2px #8F0007;}
#tag2 button:hover{background-color:#F5000C;}



#service01{width:420px;float:left;margin:0 0 70px 50px;}
#service01 p{padding:0;margin:0;width:200px;font-size:10pt;font-family:georgia;line-height:17pt;}
#service01img{float:left;}
#service01txt{float:right}
#service01 button{margin:10px 0 0;padding:5px;background-color:#E0000B;border:0px;color:#fff;font-size:8pt;border-radius:3px;cursor:auto;box-shadow:0px 2px #8F0007;}
#service01 button:hover{background-color:#F5000C;}

#service02{width:420px;float:right;margin:0 40px 70px 0;}
#service02 p{padding:0;margin:0;width:200px;font-size:10pt;font-family:georgia;line-height:17pt;}
#service02img{float:left;}
#service02txt{float:right}
#service02 button{margin:10px 0 0;padding:5px;background-color:#E0000B;border:0px;color:#fff;font-size:8pt;border-radius:3px;cursor:auto;box-shadow:0px 2px #8F0007;}
#service02 button:hover{background-color:#F5000C;}











#footer{width:"100%";height:180px;background-color:#F6F4F4;border-top:2px solid #D1C7C7;padding:40px;}
#footerwrap{width:1024px;margin:auto;}
#footerleft{width:350px;height:160px;float:left;padding:0px 40px 15px 15px;border-right:1px solid #EDE9E9;}
#footercenter{width:165px;height:160px;float:right;padding:0px 15px 15px 15px;border-right:1px solid #EDE9E9;}
#footer ul{padding:0;margin:0;}
#footer li{list-style-type:none;margin:0;}
#footer a{color:#00AEED;font-size:10pt}
#footer a:hover{color:#33C9FF;}
#footerleft p{color:#382E2E;font-size:11pt;}

